.fieldLayout {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.fieldLayout button {
	font-size: 30px;
	font-weight: 500;
	height: 100px;
	width: 100px;
	background: transparent;
	border: none;
	cursor: pointer;
}
.fieldLayout button:nth-child(1),
.fieldLayout button:nth-child(2),
.fieldLayout button:nth-child(3),
.fieldLayout button:nth-child(4),
.fieldLayout button:nth-child(5),
.fieldLayout button:nth-child(6) {
	border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.fieldLayout button:nth-child(1),
.fieldLayout button:nth-child(4),
.fieldLayout button:nth-child(7),
.fieldLayout button:nth-child(2),
.fieldLayout button:nth-child(5),
.fieldLayout button:nth-child(8) {
	border-right: 1px solid rgba(128, 128, 128, 0.5);
}
.fieldLayout button:disabled {
	color: inherit;
	cursor: unset;
}
